NLP_CLIENT_PORT=8001

# Tuya API Credentials
TUYA_CLIENT_ID=
TUYA_CLIENT_SECRET=
TUYA_USERNAME=
TUYA_PASSWORD=

# MCP Server Configuration
MCP_API_KEY=your_secure_api_key

# Server Configuration
HOST=0.0.0.0
PORT=8000

# LLM Credentials
GOOGLE_API_KEY=
GOOGLE_CSE_ID=
GOOGLE_SEARCH_API_KEY=
